body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.header {
    background-color: #ff6f00;
    border-radius: 2%;
    color: white;
    padding: 10px 10px;
    text-align: center;
    font: bold 20px/3 Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 30px;
    text-shadow: 8px 6px 4px rgba(0, 0, 1, 0.8);
    position: relative;
    overflow: hidden;
}

.header::before, .header::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    background: rgba(50, 50, 50, 0.3);
    z-index: 1;
    transform: skewX(-30deg);
}


.header::before {
    left: 0%;
}

.header::after {
    right: -150%;
}
@keyframes slide {
    0% { transform: translateX(-200%); }
    100% { transform: translateX(200%); }
}

.header::before, .header::after {
    animation: slide 7s linear infinite;
}

.header span {
    position: relative;
    z-index: 2;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.content .menu a span {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #000000;
    text-shadow: 4px 4px 4px rgba(1, 5, 0, 0.5);
    animation: colorChange 3s infinite alternate, fadeIn 2s ease-in-out;
}

@keyframes colorChange {
    0% { color: #000000; }
    100% { color: #5F9EA0; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.content {
    max-width: 380px;
    margin: 5px auto;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 100%;
    height: auto;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel-button.prev { left: 10px; }

.carousel-button.next { right: 10px; }

.menu {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.menu a {
    display: flex;
    align-items: center;
    padding: 20px;
    text-decoration: none;
    color: black;
    border-top: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.4s, transform 0.3s;
}

.menu a:first-child { border-top: none; }

.menu a img {
    width: 80px;
    height: auto;
    margin-right: 30px;
}

.menu a:hover {
    background-color: #ff6f00;
    color: white;
    transform: scale(1.05);
}

.kaleso {
    margin-top: 7px;
}

.kaleso img {
    width: 370px;
    height: 150px;
    object-fit: cover;
    border-radius: 9%;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.kaleso img:hover {
    transform: scale(1.1);
